.git
.venv
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
.coverage

# Don't copy .env files (they should not be copied to image)
# They rather get injected at runtime (see compose)
.env
GCP_Account_Key.json
gha-creds-*.json
secrets/

# Ignore data folders, because we mount them from host
data/raw/
data/preprocessed/

# Model files are intentionally included so the API image can bake the selected .pt file.

# reports and wandb get mounted by host
reports/logs/
reports/profiling/
wandb/

# Don't need those
runs/
outputs/
