# ignore data (managed by DVC later)
/data/raw
/data/preprocessed
__pycache__
# files created automatically by YOLO are not to be pushed to git
/runs
yolo26n.pt
yolo26s.pt
yolo26m.pt
yolo26l.pt
yolo26x.pt
/reports/logs/
!/reports/logs/models/
#/models/
!/models/YOLO_eps100_bs8_lr0.005_fr10_x.pt.dvc
!/models/YOLO_eps420_bs8_lr0.005_fr10_x.pt.dvc
# Ignore output of hydra logs --> W&B main experiment tracking source
/outputs/

# logs from hyperparameter sweeping
/wandb/
# Ignore coverage runs, as it's similar to cache/tests artifacts.
/.coverage

/plots/
# Ignore Profiling runs (because depends on each machine where it was run)
/reports/profiling

# Ignore datadrift_reference_features.csv as it's too big for precommit
/reports/datadrift_reference_features.csv
# Ignore .env file (contains your private keys etc.)
.env

# irgnore folder for  trying stuff
/trying_out_stuff/

# API Uploads
/API_uploads/input/*
/API_uploads/output/*
/API_uploads/terminal_requests/*
/API_uploads/monitoring/*
!/API_uploads/input/.gitkeep
!/API_uploads/output/.gitkeep
!/API_uploads/terminal_requests/.gitkeep

GCP_Account_Key.json

# GH actions creats temporary auth file --> don't push that
gha-creds-*.json
